body {
    background: lightblue;
}

.form-group{
    margin-top: 30px;
    margin-left: 15px;
}

.order{
    color: white;
}

.color{
    margin: 0;
    float: left;
    text-align: center;
}

.totalPrice{
   
    font-size: 60px;
}

.brand-row{
    margin-top: 20px;
}