body {
    background: rgb(15, 15, 15);
}

.form-group{
    margin-top: 30px;
    margin-left: 15px;
}

.order{
    color: white;
}

.color{
    margin: 0;
    float: left;
    text-align: center;
}

.totalPrice, .perUnitPrice{
   
    font-size: 60px;
}

.brand-row{
    margin-top: 20px;
}

.totalPrices {
    background: lightcoral;
    color: black;
}

.radio{
    border: 5px solid lightcoral;
    border-radius: 50px;
    background: white;
    color: black;
    margin-top: 20px;
    text-align: center;

}

.radio label {
    font-size: 20px;
}

.radio input {
    visibility: hidden;
}

 input[checked] {
    background: cyan;
}
